.table-max{
    text-align: center;
    border-radius: 999px 999px 0px 0px ;
    border-style: solid;
    border-width:20px;
    background-color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:50px 0px 0px 532px;
    padding:20px 50px
}
.demo-plane{
    border-style: none;
}
.table-number{
    background-color:#FFD700;
    color:#ffffff;
    border-radius: 5px;
    border-style: solid;

}
.icon-chair{
    font-size: 15px;
}
.table-number-1{
    background-color:#00FF00;
    color:#ffffff;
    border-radius: 5px;
    border-style: solid;

}
.table-number-2{
    background-color:#00CED1;
    color:#ffffff;
    border-radius: 5px;
    border-style: solid;
}
.table-number-3{
    background-color:#FF1493;
    color:#ffffff;
    border-radius: 5px;
    border-style: solid;

}
.table-fist{
    color:#ffffff;
    background-color: #2242e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border-style: solid;
}
.plane-icon{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border-style: none;
}
.plane-rank{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none; 
}
.table-2{
    border-style:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:-1342px 0px 0px 1040px;
}
.yl-1{
    background-color: #FFD700;
    padding:0px 40px;
    border-style: none;
    border-radius: 5px;
}
.gr-2{
    background-color:#00FF00;
    border-style: none;
    border-radius: 5px;

}
.gr-3{
    background-color: #00CED1;
    border-style: none;
    border-radius: 5px;
}
.rd-4{
    background-color: red;
    border-style: none;
    border-radius: 5px;
}
.pk-5{
    background-color: #FF1493;
    border-style: none;
    border-radius: 5px;
}
.div-1{
    margin-top: -250px;
    padding:20px 0px;
}
.name-chuthich{
    border-style: none;
    font-size: 18px;
}
/* .ipt-children{
    padding:15px 20px;
    color:#ffffff;
    border-style:solid;
    border-radius: 5px;
    margin:-20px 0px 0px -70px;
}
.ipt-children-1{
    padding:15px 20px;
    color:#ffffff;
    border-style:solid;
    border-radius: 5px;
    margin:20px 0px 0px -107px;
} */
.btn-ins{
    padding:15px 70px;
    color:#ffffff;
    border-style:none;
    background-color:#3a56e5;
    border-radius: 5px;
    margin:40px 0px 0px 120px ;
}
.btn-ins:hover{
    color:#3a56e5;
    background-color: #6d646468;
}
.col-num{
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.chil-age{
    /* position:relative;
    z-index: 1; */
    display:inline;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right:100px;
    padding:20px 30px;
}
.opt-number{
    font-size: 18px;
    border-style: none;
    color:#ffffff;
    background-color: #6a6666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    margin: 0px 0px 0px -70px ;
    padding:10px 50px;
}
.opt-number-1{
    font-size: 18px;
    border-style: none;
    color:#ffffff;
    background-color: #6a6666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    margin: 20px 0px 0px -106px ;
    padding:10px 50px;
}
.table-number {
    cursor:pointer;
}
.table-number-1{
    cursor:pointer;
}
.table-number-2{
    cursor:pointer;
}
.table-number-3{
    cursor:pointer;
}



.search-div{
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
}
.contact{
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    padding:20px 90px;

}
.contact-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#2242e0;
}
.contact-user{
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color:#2242e0;
}
.color-sao{
    color:red;
}
.contact-button{
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
    color:#2242e0;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1.6px;
    border-color: #2242e0;
    padding:10px 30px;
}
.contact-button:hover{
    color:#ffffff;
    background-color: #2242e0;
}
.contact-input-text{
    padding:10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #2242e0;
}

.button-cancel{
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: #2748eb;
    color: #fff;

}